/* --------------------- JS script ------------------------------*/

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.graph_arr {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

/* --------------------- HTML ------------------------------*/

.navbar {
  height: 60px;
  display: flex;
  /* justify-content: space-evenly; */

  width: 100%;

  background-color: #343a40 !important;
  position: sticky; /*sticks to top if we scroll down*/
}

.logo {
  width: 300px;
  /* object-fit: contain; */
  margin-top: 10px;
  margin-left: 10px;
  height: 40px;
}

.container {
  margin-top: 10px;
}
.row {
  width: 97%;

  display: flex;
}

.navbar-text1 {
  color: #f0f1f6;
  font-family: Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, Sans-Serif;

  font-size: 35px;
  display: inline-block;
  margin-top: 7px;

  margin-left: 600px;
  width: 60%;
}

.block {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-text2 {
  color: rgba(255, 255, 255, 0.5);
  display: flex-end;
  width: 10%;
  padding-top: 0.7rem;
  padding-bottom: 0.2rem;
  padding-right: 0.5rem;
  margin-left: 800px;
  font-family: Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, Sans-Serif;

  font-size: 25px;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #f0f1f6;
}

#map {
  margin-top: 30px;
  margin-left: 160px;
  height: 400px;
  width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#column_chart {
  margin-top: 30px;
  margin-left: 140px;
  height: 400px;
  width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table1 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.table1 td {
  border: 1px solid #f2f2f2;
  padding: 8px;
}
.table1 th {
  border: 1px solid #343a40;
  padding: 8px;
}

.table1 tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table1 tr:hover {
  background-color: #ddd;
}

.table1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #343a40 !important;
  color: white;
}

.table {
  margin-top: 70px;
  margin-left: 10%;
  width: 80%;
}
